$paragraph-color: #a9a9a9;
$main-color: #618af5;

.container {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  .home {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    &__info {
      width: 60%;
      height: max-content;
      &__hello {
        color: $paragraph-color;
        margin-bottom: -10px;
      }
      &__name {
        font-size: 60px;
        margin-bottom: -10px;
        font-weight: bolder;
      }
      &__profession {
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 500;
      }
      &__about {
        color: $paragraph-color;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
        word-spacing: 1px;
        line-height: 22px;
      }
      &__button {
        border: none;
        font-size: 24px;
        padding: 10px 50px;
        color: white;
        border-radius: 7px;
        box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: all 0.3s ease-out;

        span {
          margin-right: 20px;
        }
      }
      &__button:hover {
        background-color: #0d3fbe;
      }
    }
    &__image {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      &__content {
        width: 300px;
        height: 450px;
        border-radius: 100%;
        overflow: hidden;
        &__inner {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &__scrolldown {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 30px;
      cursor: pointer;
      text-decoration: none;
      &__content {
        display: flex;
        align-items: center;
        width: max-content;
        animation: bounce 1s infinite;
      }
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@media (max-width: 575px) {
  .container {
    height: 100%;
    .home {
      padding-top: 100px;
      justify-content: center;
      flex-direction: column;
      &__info {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        &__hello {
          margin-bottom: 10px;
        }
        &__name {
          font-size: 27px;
          margin-bottom: 10px;
        }
        &__profession {
          font-size: 20px;
        }
        &__about {
          font-size: 14px;
          margin-bottom: 20px;
        }
      }
      &__image {
        width: 100%;
      }
      &__scrolldown {
        display: none;
      }
    }
  }
}
@media (min-width: 576px) {
  .container {
    height: max-content;
    .home {
      padding-top: 100px;
      flex-direction: column;
      &__info {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        &__hello {
          margin-bottom: 10px;
        }
        &__name {
          font-size: 35px;
          margin-bottom: 10px;
        }
        &__profession {
          font-size: 25px;
        }
        &__about {
          font-size: 14px;
          margin-bottom: 20px;
        }
      }
      &__image {
        width: 100%;
      }
      &__scrolldown {
        display: none;
      }
    }
  }
}
@media (min-width: 768px) {
  .home__info__about {
    max-width: 500px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .container {
    height: 100vh;
    .home {
      flex-direction: row;
      &__info {
        width: 50%;
        text-align: start;
        margin-bottom: 50px;
        &__hello {
          margin-bottom: 10px;
        }
        &__name {
          font-size: 27px;
          margin-bottom: 10px;
        }
        &__profession {
          font-size: 20px;
        }
        &__about {
          font-size: 14px;
          margin: 0 0 20px 0;
        }
      }
      &__image {
        width: 50%;
        &__content {
          width: 250px;
          height: 400px;
          border-radius: 100%;
          overflow: hidden;
          &__inner {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      &__scrolldown {
        display: flex;
      }
    }
  }

  // .container {
  //   .home {
  //     &__info {
  //       width: 50%;
  //       margin-bottom: 50px;
  //       &__hello {
  //         margin-bottom: 10px;
  //       }
  //       &__name {
  //         font-size: 40px;
  //         margin-bottom: 10px;
  //       }
  //       &__profession {
  //         font-size: 25px;
  //       }
  //       &__about {
  //         font-size: 16px;
  //       }
  //     }
  //   }
  // }
}
@media screen and (min-width: 1200px) {
  .container {
    .home {
      &__info {
        &__hello {
          margin-bottom: 10px;
        }
        &__name {
          font-size: 50px;
          margin-bottom: 10px;
        }
        &__profession {
          font-size: 25px;
        }
        &__about {
          font-size: 16px;
        }
      }
    }
  }
}
